<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/style.css" rel="stylesheet">
    <title>index</title>
</head>
<body>
    <div id="section_1"></div>
    
    <img class="fone" src="/Giant_Panda.jpg">
    <div id="circle">&nbsp; </div>
    <header id="up" >
        <div id="logo">PetStory<br>online</div>
        <div id="designedby">Designed by©</div>
        <ul class="menu-main">
          
        <li><a href="#">About</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">Zoos</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Contact us</a></li>
        </ul>
    </header>
        

    <h1>Pet story! we are start!</h1>
</body>
</html>